* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navbar {
  font-family: sans-serif;
}
nav {
  background: #222;
  padding: 5px 20px;
}

.item:hover {
  text-decoration: underline;
}

.logo .item {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  /* display:none; */
}
.item.active {
  display: block;
}

.toggle {
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,
.bars::after {
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before {
  top: 5px;
}

/* Tablet Menu */

@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 2;
  }

  .button .item {
    padding: 7px 15px;
    background: teal;
    border: 1px solid #006d6d;
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    transition: all 0.25s;
  }
  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }
  .button.secondary a:hover {
    color: #ddd;
  }
}
